[submodule "/home/corus-dev/.vim/bundle/vim-pathogen"]
	path = /home/corus-dev/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "/home/corus-dev/.vim/bundle/vim-fugitive"]
	path = /home/corus-dev/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/corus-dev/.vim/bundle/vim-unimpaired"]
	path = /home/corus-dev/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "/home/corus-dev/.vim/bundle/vim-afterimage"]
	path = /home/corus-dev/.vim/bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "/home/corus-dev/.vim/bundle/vim-surround"]
	path = /home/corus-dev/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/home/corus-dev/.vim/bundle/vim-commentary"]
	path = /home/corus-dev/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "/home/corus-dev/.vim/bundle/vim-repeat"]
	path = /home/corus-dev/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "/home/corus-dev/.vim/bundle/vim-abolish"]
	path = /home/corus-dev/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "/home/corus-dev/.vim/bundle/vim-vividchalk"]
	path = /home/corus-dev/.vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "/home/corus-dev/.vim/bundle/vim-endwise"]
	path = /home/corus-dev/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "/home/corus-dev/.vim/bundle/easygrep"]
	path = /home/corus-dev/.vim/bundle/easygrep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule "/home/corus-dev/.vim/bundle/vcscommand"]
	path = /home/corus-dev/.vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "/home/corus-dev/.vim/bundle/nerdtree"]
	path = /home/corus-dev/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/corus-dev/.vim/bundle/nerdcommenter"]
	path = /home/corus-dev/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "/home/corus-dev/.vim/bundle/syntastic"]
	path = /home/corus-dev/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "/home/corus-dev/.vim/bundle/tabular"]
	path = /home/corus-dev/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "/home/corus-dev/.vim/bundle/gundo"]
	path = /home/corus-dev/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "/home/corus-dev/.vim/bundle/quickfixsigns"]
	path = /home/corus-dev/.vim/bundle/quickfixsigns
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule "/home/corus-dev/.vim/bundle/pydiction"]
	path = /home/corus-dev/.vim/bundle/pydiction
	url = https://github.com/vim-scripts/Pydiction.git
[submodule "/home/corus-dev/.vim/bundle/tinybufferexplorer"]
	path = /home/corus-dev/.vim/bundle/tinybufferexplorer
	url = https://github.com/vim-scripts/TinyBufferExplorer.git
